<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="invoke-ipmdir-test.ZPM">
    <Module>
      <Name>invoke-ipmdir-test</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Invoke.IpmDirTest.CLS"/>
      <Invoke Class="Invoke.IpmDirTest" Method="ValidateIpmDir">
        <Arg>${ipmdir}</Arg>
      </Invoke>
    </Module>
  </Document>
</Export>
