<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="update-steps-module.ZPM">
    <Module>
      <Name>update-steps-module</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="UpdateStepsModule.PKG" />
      <UpdatePackage>UpdateStepsModule.Steps</UpdatePackage>
    </Module>
  </Document>
</Export>
