<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
  <Document name="sys-ns-module.ZPM">
    <Module>
      <Name>sys-ns-module</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SystemRequirements SYSNamespace="true"/>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="SysNS.PKG"/>
    </Module>
  </Document>
</Export>
