<?xml version="1.0" encoding="UTF-8"?>

<Export generator="IRIS" version="26">
  <Document name="sync-test.ZPM">
    <Module>
      <Name>sync-test</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="SyncTest.SuperClass.CLS" />
      <Resource Name="SyncTest.XmlClass.CLS" Format="XML" />
      <Resource Name="SyncTest.PKG" />
      <Resource Name="SyncTest.INC" />
      <UnitTest Name="/tests/unit/" Package="SyncTest.Tests" Phase="test" />
      <UnitTest Name="/tests/unit2/" Package="SyncTest2.Tests" Phase="test" />
      <FileCopy Name="/static/" Target="${mgrDir}/../sync-test-static/" />
    </Module>
  </Document>
</Export>
