<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="cpf-merge.ZPM">
    <Module>
      <Name>cpf-merge</Name>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <CPF Name="config-globals.CPF"/>
      <CPF Name="create-roles.CPF" Directory="custom-cpf-directory"/>
      <CPF Name="package-mapping.CPF"/>
    </Module>
  </Document>
</Export>
