<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="cpf-merge.ZPM">
    <Module>
      <Name>cpf-merge</Name>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>

      <!-- By default, the CPF merge happens right before Initialize -->
      <CPF Name="config-globals.cpf"/>

      <!-- Optionally, make it happen after MakeDeployed -->
      <CPF Name="actions.cpf" Directory="custom-cpf-directory" Phase="MakeDeployed" When="After"/>

      <!-- Also can make it happen only for a custom phase -->
      <CPF Name="package-mapping.cpf" CustomPhase="MyPhase" />

      <!-- Test system expressions in CPF files -->
      <CPF Name="system-expressions.cpf" CustomPhase="TestSystemExpressions" />

      <!-- Both the CPF merge above and the Invoke should run during MyPhase -->
      <Resource Name="CPFMerge.Main.CLS" />
      <Invoke Class="CPFMerge.Main" Method="SayHello" CustomPhase="MyPhase" />
    </Module>
  </Document>
</Export>
