<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
  <Document name="update-dep-invoke-errors.ZPM">
    <Module>
      <Name>update-dep-invoke-errors</Name>
      <Version>2.1.1</Version>
      <Resource Name="UpdateDepInvokeErrors.UpdatePackage.PKG" />
      <UpdatePackage>UpdateDepInvokeErrors.UpdatePackage</UpdatePackage>
      <Dependencies>
        <ModuleReference>
          <Name>update-invoke-errors</Name>
          <Version>^2.0.0</Version>
        </ModuleReference>
      </Dependencies>
    </Module>
  </Document>
</Export>
