<?xml version="1.0" encoding="UTF-8"?><Export generator="IRIS" version="26">
<Document name="HealthShare.ScopeClass.ZPM">
    <Module>
      <Name>HealthShare.ScopeClass</Name>
      <ExternalName>ScopeClass</ExternalName>
      <Version>1.0.0+snapshot</Version>
      <Description>Test module for scope class</Description>
      <Packaging>module</Packaging>
      <Resource Name="HS.ScopedClass.CLS" Scope="test"/>
    </Module>
</Document></Export>