version: '3'
services:
  iris:
    build: .
    restart: always
    environment:
      - TEST_REGISTRY=http://registry:52773/registry/
      - TEST_REGISTRY_USER=admin
      - TEST_REGISTRY_PASSWORD=SYS
    ports: 
      - 52774:52773
    volumes:
      - ~/iris.key:/usr/irissys/mgr/iris.key
      - ./:/home/irisowner/zpm/
    command:
      - -a
      - iris session iris -U%SYS '##class(Security.Users).UnExpireUserPasswords("*")'
  registry:
    image: intersystemsdc/iris-community:preview
    restart: always
    ports: 
      - 52775:52773
    environment:
      - IRISPASSWORD=SYS
      - IRISUSERNAME=admin
      - IRISNAMESPACE=REGISTRY
    volumes:
      - ./scripts/setup-registry.sh:/docker-entrypoint-initdb.d/setup-registry.sh
  sandbox:
    build: ./tests/sandbox/
    restart: always
    ports: 
      - 52776:52773
    environment:
      - IRISPASSWORD=SYS
      - IRISUSERNAME=admin
      - IRISNAMESPACE=USER
    volumes:
      - ./:/home/irisowner/zpm/
      - ./tests/sandbox/:/home/irisowner/sandbox/
  oras:
    image: ghcr.io/project-zot/zot-linux-amd64:latest
    ports:
      - 5001:5000
