<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="ZPM.ZPM"><Module>
  <Name>ZPM</Name>
  <GlobalScope>true</GlobalScope>
  <Version>0.1.6</Version>
  <ExternalName>Package Management System</ExternalName>
  <Description>Provides development tools and infrastructure for defining, building, distributing, and installing modules and applications.</Description>
  <Keywords>Package Manager</Keywords>
  <Author>
    <Organization>InterSystems Corporation</Organization>
    <CopyrightDate>2019</CopyrightDate>
  </Author>
  <Packaging>module</Packaging>
  <SourcesRoot>src</SourcesRoot>
  <Resource Name="%ZPM.PackageManager.Common.INC" Directory="inc"/>
  <Resource Name="%ZPM.Utils.PKG" Directory="cls"/>
  <Resource Name="%ZPM.JSON.PKG" Directory="cls"/>
  <Resource Name="%ZPM.AbstractInstaller.CLS" Directory="cls"/>
  <Resource Name="%ZPM.PackageManager.PKG" Directory="cls"/>
  <Resource Name="%ZPM.PackageManager.CLS" Directory="cls"/>
  <UnitTest Name="/tests/unit_tests/" Package="Test.PM.Unit" Phase="test"/>
  <UnitTest Name="/tests/integration_tests/" Package="Test.PM.Integration" Phase="verify"/>
  <Resource Name="%ZLANGC00.MAC" Generated="true"/>
  <Resource Name="/doc/README.txt"/>
  <LifecycleClass>%ZPM.PackageManager.Developer.Lifecycle.Module</LifecycleClass>
  <API>
    <Item Type="class" SubType="Method" Name="%ZPM.PackageManager.Developer.Annotation.Utils:ExtractAnnotations" Public="true"></Item>
    <Item Type="class" Name="%ZPM.PackageManager.Core.ModuleReference" Public="true"></Item>
    <Item Type="class" Name="%ZPM.PackageManager.Developer.Lifecycle.Abstract" Public="true"></Item>
    <Item Type="class" SubType="Method" Name="%ZPM.PackageManager:Shell" Public="true"></Item>
    <Item Type="class" SubType="Method" Name="%ZPM.PackageManager.Developer.Build:RetrieveBuiltDatabase" Public="false"></Item>
    <Item Type="class" SubType="Method" Name="%ZPM.PackageManager.Developer.Build:InitializeBuildNamespace" Public="false"></Item>
    <Item Type="class" SubType="Method" Name="%ZPM.PackageManager.Developer.Build:SwitchToBuildNamespace" Public="false"></Item>
    <Item Type="class" SubType="Method" Name="%ZPM.PackageManager.Developer.Module:ExecutePhases" Public="true"></Item>
    <Item Type="class" SubType="Method" Name="%ZPM.PackageManager.Developer.Utils:GetDependentsList" Public="false"></Item>
    <Item Type="class" SubType="Method" Name="%ZPM.PackageManager.Developer.Utils:GetDependentsAsTree" Public="false"></Item>
    <Item Type="class" SubType="Method" Name="%ZPM.PackageManager.Developer.API:UpdateAPIDocumentation" Public="false"></Item>
    <Item Type="class" SubType="Method" Name="%ZPM.PackageManager.Developer.API.ErrorMessages:GetMessageFile" Public="false"></Item>
    <Item Type="class" SubType="Method" Name="%ZPM.PackageManager.Developer.API.ErrorMessages:SaveMessageFile" Public="false"></Item>
    <Item Type="class" SubType="Method" Name="%ZPM.PackageManager.Developer.Build:SwitchToNamespace" Public="false"></Item>
    <Item Type="class" SubType="Method" Name="%ZPM.PackageManager.Developer.Build:InitializeNamespace" Public="false"></Item>
  </API>
</Module>
</Document></Export>
