<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="lock-mod1.ZPM">
    <Module>
      <Name>lock-mod1</Name>
      <Version>1.0.0</Version>
      <Resource Name="LockMod1.PKG" />
      <Dependencies>
        <ModuleReference>
          <Name>lock-dep1</Name>
          <Version>^1.0.0</Version>
        </ModuleReference>
      </Dependencies>
    </Module>
  </Document>
</Export>
