<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="version-req-satisfied.ZPM">
    <Module>
      <Name>version-req-satisfied</Name>
      <Version>0.0.1+snapshot</Version>
      <Packaging>module</Packaging>
      <SystemRequirements IPMVersion=">=0.9.0-0"/>
    </Module>
  </Document>
</Export>
