<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
	<Document name="demo-module1.ZPM">
		<Module>
			<Name>demo-module1</Name>
			<Version>1.0.0</Version>
			<Description>description</Description>
			<Keywords>keywords</Keywords>
			<Author>
				<Person>your name</Person>
				<Organization>your organization</Organization>
				<CopyrightDate>2020</CopyrightDate>
				<License>MIT</License>
				<Notes>notes</Notes>
			</Author>
			<Packaging>module</Packaging>
			<Default Name="count" Value="7"/>
			<SystemRequirements Version=">=2020.1" Interoperability="enabled"/>
			<SourcesRoot>src</SourcesRoot>
		</Module>
	</Document>
</Export>