<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="deptree-stable.ZPM">
    <Module>
      <Name>deptree-stable</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="DepTree.Stable.CLS" />
      <Resource Name="DepTree.StableSteps.PKG" />
      <UpdatePackage>DepTree.StableSteps</UpdatePackage>
    </Module>
  </Document>
</Export>
