<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
  <Document name="module-a.ZPM">
    <Module>
      <Name>module-a</Name>
      <Version>1.0.0</Version>
      <Dependencies>
        <ModuleReference>
          <Name>module-b</Name>
          <Version>^1.0.0</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>module-c</Name>
          <Version>1.0.0</Version>
        </ModuleReference>
      </Dependencies>
    </Module>
  </Document>
</Export>
