<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
    <Document name="module-a.ZPM">
        <Module>
            <Name>module-a</Name>
            <Version>1.0.0</Version>
            <SystemRequirements Interoperability="enabled" />
            <DecomposedProduction Name="Sample.NewProduction" />
            <Production Name="Sample.NewProduction" AutoStart="1" AutoUpdate="1" />
        </Module>
    </Document>
</Export>