<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="interoperability-disabled-test.ZPM">
    <Module>
      <Name>interoperability-disabled-test</Name>
      <Version>0.0.1+snapshot</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <SystemRequirements Version=">=2020.1" Interoperability="disabled" Health="false" />
    </Module>
  </Document>
</Export>
