<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
    <Document name="module-a.ZPM">
    <Module>
      <Name>module-a</Name>
      <Version>2.1.0+snapshot</Version>
      <Resource Name="ModuleA.PKG" />
      <Resource Name="Shared.Class2.CLS" />
      <Dependencies>
        <ModuleReference>
          <Name>module-b</Name>
          <Version>^2.0.0</Version>
        </ModuleReference>
      </Dependencies>
    </Module>
  </Document>
</Export>