<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="update-shared-transitive-dep-base.ZPM">
    <Module>
      <Name>update-shared-transitive-dep-base</Name>
      <Version>1.1.0</Version>
      <Packaging>module</Packaging>
    </Module>
  </Document>
</Export>
