<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="uninstall-b.ZPM">
    <Module>
      <Name>uninstall-b</Name>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>uninstall-a</Name>
          <Version>0.0.1</Version>
        </ModuleReference>
      </Dependencies>
    </Module>
  </Document>
</Export>