<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="install-time-config-dependency.ZPM">
    <Module>
      <Name>install-time-config-dependency</Name>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="InstallTimeConfigDependency.Main.CLS"></Resource>
    </Module>
  </Document>
</Export>
