<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="lock-dep1.ZPM">
    <Module>
      <Name>lock-dep1</Name>
      <Version>1.0.1</Version>
      <Resource Name="LockDep1.PKG" />
      <Dependencies>
        <ModuleReference>
          <Name>lock-dep-dep1</Name>
          <Version>^0.1.0</Version>
        </ModuleReference>
      </Dependencies>
    </Module>
  </Document>
</Export>