<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="deployable-test-deployed-dep.ZPM">
    <Module>
      <Name>deployable-test-deployed-dep</Name>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <Resource Name="DeployableDepTest.Main.CLS" Deploy="true"/>
    </Module>
  </Document>
</Export>