<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
    <Document name="lock-mod-h.ZPM">
    <Module>
      <Name>lock-mod-h</Name>
      <Version>2.0.0</Version>
      <Resource Name="LockModH.PKG" />
      <Dependencies>
        <ModuleReference>
          <Name>lock-mod-e</Name>
          <Version>^1.0.0</Version>
        </ModuleReference>
      </Dependencies>
    </Module>
  </Document>
</Export>