<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="publish-with-deps.ZPM">
    <Module>
      <Name>publish-with-deps</Name>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>publish-with-deps-dep</Name>
          <Version>0.0.1</Version>
        </ModuleReference>
      </Dependencies>
    </Module>
  </Document>
</Export>