<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="default-name-mod-action.ZPM">
    <Module>
      <Name>default-name-mod-action</Name>
      <ExternalName>ext-name-mod-action</ExternalName>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="ExtNameModAction.Main.CLS"/>
      <Invoke Class="ExtNameModAction.Main" Method="Hello" CustomPhase="Greeting" When="Before"/>
    </Module>
  </Document>
</Export>