<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
  <Document name="update-deps-removed.ZPM">
    <Module>
      <Name>update-deps-removed</Name>
      <Version>2.1.1</Version>
      <Resource Name="UpdateDepsRemoved.UpdatePackage.PKG" />
      <UpdatePackage>UpdateDepsRemoved.UpdatePackage</UpdatePackage>
    </Module>
  </Document>
</Export>
