<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
  <Document name="publish-with-python-deps-dep.ZPM">
    <Module>
      <Name>publish-with-python-deps-dep</Name>
      <Version>1.6.2</Version>
      <Packaging>module</Packaging>
      <PythonWheel Name="lune-1.6.2-py3-none-any.whl" Directory="." />
      <PythonWheel Name="lune-1.6.4-py3-none-any.whl" Directory="wheels" />
    </Module>
  </Document>
</Export>
