<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
    <Document name="lock-mod-i-no-prior-lock-file.ZPM">
    <Module>
      <Name>lock-mod-i-no-prior-lock-file</Name>
      <Version>1.0.0</Version>
      <Resource Name="LockModI.PKG" />
      <Dependencies>
        <ModuleReference>
          <Name>lock-mod-b-no-deps</Name>
          <Version>^1.0.0</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>lock-mod-e-1-dep-0-transient</Name>
          <Version>^1.0.0</Version>
        </ModuleReference>
      </Dependencies>
    </Module>
  </Document>
</Export>