<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="interoperability-enabled-test.ZPM">
    <Module>
      <Name>interoperability-enabled-test</Name>
      <Version>0.0.1+snapshot</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="IntegrationTest.pkg"/>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
    </Module>
  </Document>
</Export>
