<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="version-req-missing.ZPM">
    <Module>
      <Name>version-req-missing</Name>
      <Version>0.0.1+snapshot</Version>
      <Packaging>module</Packaging>
      <SystemRequirements/>
    </Module>
  </Document>
</Export>
