<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="Test.ModuleA.ZPM"><Module>
  <Name>Test.ModuleA</Name>
  <Version>0.0.2+snapshot</Version>
  <Packaging>module</Packaging>
  <Resources>
    <Resource Name="Test.ModuleA.PKG">
    </Resource>
  </Resources>
  <LifecycleClass>Module</LifecycleClass>
</Module>
</Document></Export>
