<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
  <Document name="update.ZPM">
    <Module>
      <Name>update</Name>
      <Version>1.2.1</Version>
      <Resource Name="Update.PKG" />
      <UpdatePackage>Update.Update</UpdatePackage>
    </Module>
  </Document>
</Export>